@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

body {
    background-color: #1a1a2e;
    font-family: 'Source Sans Pro', sans-serif;
   /* padding-top: 70px;*/
}

.movie-info{
    width: 100%;
    height: calc(100vh - 60px);
    /*margin-top: 60px;*/
    background-size: cover;
    background-repeat: no-repeat;
}

.movie-detail{
    font-family: 'Source Sans Pro', sans-serif;
    width: 50%;
    height: 100%;
    background: rgb(56, 46, 90);
    background: linear-gradient(90deg, rgba(56, 46, 90, 1), rgba(243, 122, 42, 1) 100%);
    padding: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #fff;
}

.movie-name{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 30px;
    font-weight: 500;
}

.genres{
    opacity: 0.6;
    margin: 30px 0;
}

.des{
    width: 70%;
    line-height: 20px;
    margin-bottom: 30px;
}

.starring span{
    opacity: 0.6;
}

.trailer-container,
.recommendations{
    color: #382e5a;
    padding: 5vw 5vw 0;
}

.heading{
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 20px;
    color: rgba(243, 122, 42, 1) ;
}

iframe{
    width: 400px;
    height: 200px;
}

.recommendations-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.movie p{
    position: absolute;
    bottom: 30px;
    width: 100%;
    height: 30px;
    line-height: 30px;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    opacity: 0;
}

.movie:hover p{
    opacity: 1;
}

/* -------------------- STYLE POUR SECTION COMMENTAIRE ------------------------- */

@media (min-width: 750px) {
    .icons{
        width:25px;
        height:25px;
    }

    table{
        border-collapse: collapse;
        position: relative;
        top: 75px;
        color: white;
        background-color: #1a1a2e;
        border: solid 1px #cc6d0d;
    }

    td{
        border: solid #cc6d0d 1px;
    }

    #comment{
        background-color: #1a1a2e;
        border: solid 2px #cc6d0d;
        border-radius: 5px;
        color: white;
        width: 450px;
        height: 200px;
    }

    #submitComment{
        background-color: #1a1a2e;
        color: white;
        border: solid 2px #cc6d0d;
        border-radius: 5px;
        width: 220px;
        height: 52px;
        position: relative;
        left: 25px;
    }

    #submitComment:hover{
        transition: all 0.2s ease;
        background-color: #382e5a;
        cursor: pointer;
    }

    #displayForm{
        text-align: center;
        margin-top: 50px;
    } 

    #commentSection{
        margin: auto;
    }

    #commentZone{
        width: 450px;
    }
}

/*  --------------------------- STYLE COMMENTAIRES MOBILE VERSION --------------------------- */

@media (max-width: 749px) {
    .icons{
        width:25px;
        height:25px;
    }

    table{
        position: relative;
        top: 75px;
        color: white;
        background-color: #1a1a2e;
        border: solid 1px #cc6d0d;
    }

    td{
        border: solid #cc6d0d 1px;
    }

    #comment{
        background-color: #1a1a2e;
        border: solid 2px #cc6d0d;
        border-radius: 5px;
        color: white;
        width: 300px;
        height: 100px;
        display: block;
        margin: auto;
        margin-top: 45px;
    }

    #submitComment{
        background-color: #1a1a2e;
        color: white;
        border: solid 2px #cc6d0d;
        border-radius: 5px;
        width: 220px;
        height: 52px;
        display: block;
        margin: auto;
        margin-top: 25px;
    }

    #submitComment:hover{
        transition: all 0.2s ease;
        background-color: #382e5a;
        cursor: pointer;
    }

    #commentSection{
        margin: auto;
    }
}

/* ------------------- LOGO GETFLIX EN HAUT DE PAGE ----------------- */

.getflixLogo{
    height: 55px;
    width: 120px;
    position: absolute;
    top: 9px;
}