@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
body,
html{
    width: 100%;
    height: 100%;
}
body{
    background-color: #1a1a2e;
    font-family: 'Source Sans Pro', sans-serif;
    padding-top: 70px;
}

#nav {
    background-color: #1a1a2e;
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

#offcanvasNavbar {
    background-color : #cc6d0d;
}

#nav-button {
    background-color: #d0d0e4;
}

#title {
    color: #d0d0e4;
    font-size: 30px;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 10px;
}

#nav-button:hover {
    background-color: #d0d0e4;
}

#nav-button:active {
    background-color: #d0d0e4;
}

#nav-comp {
    color: #d0d0e4;
}



#list {
    align-items: center;
    display: flex;
    flex-direction: row;
}



#card-center {
    background-color: #cf3f1b;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#searchbar {
   justify-content: center;
}

#search-btn {
    background-color: #d0d0e4;
}

