table{
    border-collapse: collapse;
    margin: auto;
    position: relative;
    top: 75px;
}

td{
    border: solid black 1px;
}

body{
    background-color: #36827F;
    margin: 0;
    color: #F4EDED;
}

.header{
    width: 100%;
    height: 45px;
    background-color: #C0BCB5;
}

.icon{
    width:25px;
    height:25px;
    margin-left: 33px;
}